<!DOCTYPE html>
<html lang="en">

<head>
<style>
.container {
	display: inline-flex;
	width: 400px;
	border: 2px solid;
	box-shadow: 0px 12px 10px 0px #00000044;
	height: 170px;
	padding: 10px 15px 10px 15px;
}

.container-text {
	display: block;
	padding-right: 10%;
	text-align: center;
}

#message {
	font-size: 15px;
	color: gray;
}

p, a {
	color: black;
	text-decoration: none;
	font-size: 15px;
	line-height: 8px;
}

img {
	float: right;
	width: 150px;
	border: 2px solid;
	box-shadow: 0px 12px 10px 0px #00000044;
	border-radius: 15%;
}
</style>
</head>

<body>

	<div class="container">
		<div class="container-text">
			<h1 id="message">This message was sent by email-sender</h1>
			<p>com.naudodev/email-sender</p>
			<a href="https://github.com/naudofp">https://github.com/naudofp</a>
			<p>naudodev@gmail.com</p>
		</div>
		<img
			src="https://user-images.githubusercontent.com/106287877/238168030-1bf99b48-8d7c-4866-8ec4-5e2c6a80c95f.png">
	</div>

</body>

</html>